/.gradle/
/.idea/
/gradle/
/ta-root.iml
/webservices/authentication/service/build/
/companies/endpoint/build/
/companies/runtime/dev/build/
/.nb-gradle/
/build/
/companies/common/build/
/common/auditing/build/
/common/jersey/build/
/companies/database/build/
/companies/runtime/prod/build/